[Unit]
Description=Honeyd Honeypot
Requires=network.target
Wants=ntpd.service
After=network.target ntpd.service

[Service]
Type=forking
ExecStart=/usr/src/Honeyd/honeyd -f /usr/src/Honeyd/honeyd.conf -l /var/log/honeyd/honeyd.log

[Install]
WantedBy=default.target

